.card {
  width: 193px;

  .img {
    position: relative;
    height: 273px;
    width: 193px;

    .rating {
      display: flex;
      gap: 5px;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 5px;
      background-color: #000;
      color: #fff;
    }
  }

  .info {
    position: relative;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 5px;
    padding: 10px 0;

    svg {
      position: absolute;
      left: 0;
    }

    .descr {
      width: 100%;
      padding-left: 40px;
    }
  }
}