.actorItem {
  display: flex;
  .img {
    display: flex;
    justify-content: center;
    .imgСhange {
      border-radius: 50%;
    }
  }
  .name,
  .profession {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
  }
  .profession {
    font-size: 18px;
    color: rgba(199, 199, 199, 0.78);;
  }

}
.next {
  cursor: pointer;
  position: absolute;
  top: -40px;
  right: 30px;
  align-items: center;
  svg {
    &:hover {
      transition: fill .2s ease-in-out;
      fill: #fc4337;
    }
  }
}
.prev {
  cursor: pointer;
  position: absolute;
  align-items: center;
  top: -40px;
  right: 60px;
  svg {
    &:hover {
      transition: fill .2s ease-in-out;
      fill: #fc4337;
    }
  }
}