.actorItem {
  display: flex;
  .img {
    display: flex;
    justify-content: center;
    .imgСhange {
      border-radius: 50%;
    }
  }
  .name,
  .profession {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    font-size: 20px;
  }
  .profession {
    font-size: 18px;
    color: rgba(199, 199, 199, 0.78);;
  }

}
.next {
  cursor: pointer;
  position: absolute;
  top: -25%;
  right: -30px;
  padding: 10px;
  background-color: #000;
  border-radius: 50%;
  align-items: center;
}
.prev {
  cursor: pointer;
  position: absolute;
  padding: 10px;
  background-color: #000;
  border-radius: 50%;
  align-items: center;
  top: -25%;
  right: 60px;
}