.card {
  .img {
    position: relative;
    height: 230px;
    width: 156px;
    margin: 10px;
    .rating {
      display: flex;
      gap: 5px;
      align-items: center;
      position: absolute;
      right: 0;
      bottom: 0;
      padding: 5px;
      background-color: #000;
      color: #fff;
      div {
        font-size: 13px;
      }
    }
  }
  .info {
    position: relative;
    text-align: center;
    display: flex;
    align-items: start;
    justify-content: center;
    width: 100%;
    gap: 5px;
    padding: 10px;
    svg {
      position: absolute;
      left: 10px;
    }
    .descr {
      width: 100%;
      padding-left: 30px;
      .name {
        width: 100%;
        font-size: 15px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        &:hover {
          transition: color .15s ease-in-out;
          color: #fc4337;
        }
      }
      .year {
        margin-top: 5px;
        text-align: center;
        font-size: 15px;
      }
    }
  }

}