.dropDown {
  position: absolute;
  top: 45px;
  width: 300px;
  left: -50px;
  box-shadow: 1px 3px 9px rgba(0, 0, 0, .15);
  background-color: #101010;
  color: #fff;
  border-radius: 10px;
  .item {
    display: flex;
    gap: 10px;
    padding: 10px;
    border-bottom: 1px solid gray;
    opacity: .5;
    &:hover {
      transition: opacity .2s ease-in-out;
      background-color: #000;
      opacity: 1;
    }
    .title {
      width: 200px;
      margin-bottom: 5px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
    .rating {
      display: flex;
      align-items: center;
      gap: 5px;
    }
  }
  .all {
    display: flex;
    padding: 10px;
    font-size: 18px;
    align-items: center;
    justify-content: center;
    opacity: .5;
    &:hover {
      transition: color, opacity .2s ease-in-out;
      opacity: 1;
      color: #fc4337;
    }
  }
}