.actor {
  padding-top: 50px;
  display: flex;
  justify-content: center;
  gap: 20px;
  font-size: 20px;

  .img {
    border-radius: 20px;
  }

  .info {
    h1 {
      font-size: 40px;
    }
    .nameRu {
      opacity: .5;
      font-size: 20px;
    }
    h2 {
      margin-top: 10px;
    }
    .about {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      align-items: center;
      gap: 20px;
      font-size: 15px;
      margin-top: 15px;
      box-shadow: 3px 6px 9px rgba(0, 0, 0, .15);
      padding: 10px;
      border-radius: 10px;
      div {
        width: max-content;
        opacity: .5;
      }
    }

  }
}
.films{
  margin-top: 80px;
  margin-left: 30px;
  display: flex;
  flex-direction: column;
  h2 {
    margin-bottom: 30px;
  }
  div {
    margin-bottom: 10px;
    font-size: 15px;
    padding: 5px;
  }
}