$assets: lighten(#fc4337, 5%);
.footer {
  padding: 20px;
  color: #fff;
  background-color: #000000;
  .topFooter {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    border-bottom: 1px solid lighten(#000, 40%);
    padding-bottom: 30px;
    .findUs,
    .callUs,
    .mailUs {
      display: flex;
      align-items: center;
      justify-content: center;
      gap: 10px;
      p {
        font-size: 16px;
        opacity: .5;
      }
    }
  }
  .bottomFooter {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding-top: 30px;
    .followUs,
    .usefulLinks {
      margin: 0 auto;
      h3 {
        text-align: center;
      }
      div {
        display: flex;
        margin-top: 10px;
        justify-content: center;
        gap: 10px;
        font-size: 18px;
      }
    }
    .followUs {
      a {
        opacity: .7;
        transition: opacity .2s ease-in-out;
        &:hover {
          opacity: 1;
        }
      }
    }
    .usefulLinks {
      div {
        gap: 20px;
        a {
          &:hover {
            color: $assets;
          }
          &:active {
            color: #fff;
            border-bottom: 2px solid $assets;
          }
        }
      }
    }
  }
}